body {
    font-family: 'Roboto Slab', serif;
}

.grid {
    display: grid;
    background-color: aqua;
    grid-template-columns: 6fr 6fr;
}

.grid-item {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.golden {
    width: 300px;
    height: 250px;
}

/* #hover :hover {
    font-size: larger;
} */

.grid-3-item {
    display: flex;
    margin-bottom: 0;
    padding: 5px;
    border: 0.5px solid black;
}

.row {
    text-align: center;
    padding-top: 10px;
}

.adviceRow {
    text-align: center;
}

#adviceGrabber {
    text-align: center;
    padding-top: 5px;
}

#hoverC:hover {
    background-color: lightskyblue;
}

#hoverText:hover {
    font-size: 50px;
}

#hoverC {
    justify-content: center;
}

#navGit {
    height: 40px;
    padding-bottom: 20px;
}

.list-group-item {
    text-align: center;
}

#adviceBorder {
    border: 1.8px dashed black;
}